.flex {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}
.reSize {
  font-size: 200px;
}

.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
