:root {
  --gap: 80px;
  --pushToRight: 100px;
}
.bowlText {
  margin-left: -25px;
  font-size: 1.2em;
  font-weight: 600;
  color: black;
}
.bowlImageDimensions {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
@media screen and (max-width: 480px) {
  :root {
    --gap: 20px;
    --pushToRight: 10px;
  }
  .bowlImageDimensions {
    width: 150px;
    height: 150px;
  }
  .bowlText {
    font-size: 0.8em;
  }
}
.flex {
  margin-left: var(--pushToRight);
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap);
  flex-wrap: wrap;
}
.reSize {
  font-size: 180px;
}
.item {
  flex: 1 1 calc((100% - (2 * var(--gap))) / 3);
  box-sizing: border-box;
}
.bowl {
  text-decoration: none;
}
.bowl:hover {
  cursor: pointer;
  color: aqua;
}
