:root {
  --gap: 100px;
}
.flex {
  margin-left: 20%;
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap);
  flex-wrap: wrap;
}
.reSize {
  font-size: 180px;
}
.item {
  flex: 1 1 calc((100% - var(--gap)) / 2);
  box-sizing: border-box;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.bowl {
  text-decoration: none;
}
.bowl:hover {
  cursor: pointer;
  color: aqua;
}
