.center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
.push {
  margin-left: 43%;
  font-size: 1.5em;
}
.pushChildAlign {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  gap: 0.3em;
}
.caption {
  font-size: 1.5em;
  color: brown;
}
.link {
  font-size: 1.4em;
}
a:link {
  color: blue;
}
a:visited {
  color: purple;
}
a:hover,
a:focus {
  color: aquamarine;
}
a:active {
  color: blueviolet;
}
