.moveAndAdjust {
  background-image: linear-gradient(135deg, lightblue, lightgreen);
  width: max-content;
  padding: 0.05em 0.1em;
  text-align: center;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  font-size: 1.1em;
}
@keyframes steaming {
  0% {
    opacity: 0%;
    transform: translateY(0px);
  }
  50% {
    opacity: 100%;
    transform: translateY(0px);
  }
  100% {
    opacity: 0%;
    transform: translateY(-70px);
  }
}
.positionHotImage {
  position: absolute;
  width: 170px;
  height: 150px;
  top: 40%;
  left: 48%;
  background-image: url("/assets/smoke.png");
  background-size: 170px 150px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  animation: steaming 3s ease-in-out infinite;
  pointer-events: none;
  z-index: -1;
}
.centerAndEnlarge {
  position: relative;
  font-size: 20em;
  padding: 0.05em 0.1em;
  text-align: center;
  margin: -150px auto;
  display: flex;
  justify-content: center;
}
.position {
  position: absolute;
  top: 0px;
  left: 20px;
}
.clickable {
  cursor: pointer;
}

.positioning {
  position: absolute;
  top: 0px;
  left: 80%;
}
.adjust {
  background-image: linear-gradient(to top, red, orange, yellow);
  width: max-content;
  padding: 0.05em 0.1em;
  text-align: center;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  font-size: 1.1em;
}
