.moveAndAdjust {
  background-image: linear-gradient(135deg, lightblue, lightgreen);
  width: max-content;
  padding: 0.05em 0.1em;
  text-align: center;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  font-size: 1.1em;
}
.centerAndEnlarge {
  font-size: 20em;
  padding: 0.05em 0.1em;
  text-align: center;
  margin: 140px auto;
  display: flex;
  justify-content: center;
}
.position {
  position: absolute;
  top: 0px;
  left: 20px;
}
.clickable {
  cursor: pointer;
}

.positioning {
  position: absolute;
  top: 0px;
  left: 80%;
}
.adjust {
  background-image: linear-gradient(to top, red, orange, yellow);
  width: max-content;
  padding: 0.05em 0.1em;
  text-align: center;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  font-size: 1.1em;
}
