.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  background-image: linear-gradient(to right, pink, purple, yellow);
  gap: 0.4em;
  font-size: 1.5em;
  left: 40%;
  border-radius: 20px;
  padding: 0.05em 0.1em;
  text-align: center;
  z-index: 2000;
}
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .contact {
    left: 10%;
  }
}
