.flexitAll {
  position: absolute;
  left: 0%;
  display: flex;
  justify-content: start;
  text-align: center;
  align-items: start;
  margin: 0;
  gap: 100px;
}
.flexTheRightChildrenVertically {
  position: relative;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.flexIngreAndMacros {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  margin-left: 30%;
}
.ingredientsFlextheContentsVertically {
  background-image: linear-gradient(135deg, lightblue, lightgreen);
  width: max-content;
  padding: 0.05em 0.1em;
  text-align: center;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  font-size: 1.1em;
}
.includeTitleinMacros {
  background-image: linear-gradient(to top, red, orange, yellow);
  width: max-content;
  padding: 0.05em 0.1em;
  border-radius: 20px;
}
.macrosFlextheContentsHorizontally {
  text-align: center;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 1.1em;
}
.addSpacing {
  margin-left: 10px;
}

@keyframes steaming {
  0% {
    opacity: 0%;
    transform: translateY(0px);
  }
  50% {
    opacity: 100%;
    transform: translateY(0px);
  }
  100% {
    opacity: 0%;
    transform: translateY(-70px);
  }
}
.Bowl {
  margin: 10px;
  font-size: 20em;
  height: 400px;
}
.positionSteam {
  position: absolute;
  width: 200px;
  height: 170px;
  top: 25%;
  left: 6%;
  background-image: url("/assets/smoke.png");
  background-size: 170px 150px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  animation: steaming 3s ease-in-out infinite;
  pointer-events: none;
  z-index: -1;
}
.Button {
  position: absolute;
  top: 110%;
  background-image: linear-gradient(to right, pink, lightgreen);
  font-size: 1.5em;
  border-radius: 15px;
}
@media screen and (max-width: 480px) {
  .ingredientsFlextheContentsVertically {
    font-size: 0.5em;
  }
  .macrosFlextheContentsHorizontally {
    font-size: 0.6em;
  }
  .positionBowlinCenter {
    font-size: 10em;
  }
  .positionSteam {
    left: 85px;
    top: 110px;
  }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  .positionBowlinCenter {
    font-size: 10em;
    margin: 200px auto;
  }
}
